.left-content{
  width: 300px;
  color:white;
  float:left;
  .user-content{
    background-color: #253141;
    height:100px;
    display:flex;
    align-items: center;
    padding:0 20px;
    &__box{
      font-size:16px;
      display:flex;
      width:100%;
      font-weight:bold;
      justify-content: space-between;
      &__icon{
        display:flex;
        .icon{
          color:white;
          margin-left: 0.3rem;
        }
      }
    }
  }
  .groups{
    height:calc(100vh - 100px);
    background-color:#2f3e51;
    padding:20px 20px 0;
    overflow: scroll;
    .group{
      margin-bottom: 40px;
      a{
        text-decoration: none;
      }
      &__name{
        color:white;
        font-size:15px;
        margin-bottom:5px;
      }
      &__message{
        font-size:11px;
        color:white;
      }
    }
  }
}
